<ul class="list-group list-group-horizontal">
    <li class="list-group-item">
        <h2>Ip address</h2>
        @if(ipInfo) {
            @if(ipInfo.ip) {
                <p>{{ ipInfo.ip }}</p>
            }
        }
        @else {
            <p>-</p>
        }
    </li>
    <li class="list-group-item">
        <h2>Location</h2>
        @if(ipInfo) {
            @if(ipInfo.location) {
                <p>{{ ipInfo.location.city }}, {{ ipInfo.location.region }} {{ ipInfo.location.postalCode }}</p>
            }
        }
        @else {
            <p>-</p>
        }
    </li>
    <li class="list-group-item">
        <h2>Timezone</h2>
        @if(ipInfo) {
            @if(ipInfo.location) {
                <p>{{ ipInfo.location.timezone }}</p>
            }
        }
        @else {
            <p>-</p>
        }
    </li>
    <li class="list-group-item">
        <h2>Isp</h2>
        @if(ipInfo) {
            @if(ipInfo.isp) {
                <p>{{ ipInfo.isp }}</p>
            }
        }
        @else {
            <p>-</p>
        }
    </li>
</ul>
