h1 {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    padding: 1em 0;
}
.send-ip {
    background: #000 url("../../../../../assets/icons/icon-arrow.svg") no-repeat center center;
    width: 50px;
}