.form-data-bg {
    background: transparent url('../../../../../assets/images/pattern-bg-desktop.png') no-repeat 0 0;
    background-size: cover;
}

.form-input {
    min-width: 450px;
}

.data-show {
    margin-top: 2em;
    margin-bottom: 3em;
}